<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id = "a" class = "com.springframework.dependencychecking.simple.applicationcontext.Address" dependency-check = "simple">
    
    <property name="addressLine" value = "Mumbai"></property>
    
    </bean>
    
    <bean id = "e" class = "com.springframework.dependencychecking.simple.applicationcontext.Employee" dependency-check = "simple">
    
    <property name="firstName" value = "Huzefa"></property>
    <property name="address" ref = "a"></property>
    
    </bean>
    
   </beans>
    